<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>GooGrade</display-name>
    <listener>
        <listener-class>GooGrade.CourseController</listener-class>
    </listener>
    <distributable/>
    <context-param>
        <description>The JDBC driver class</description>
        <param-name>jdbcDriver</param-name>
        <param-value>org.sqlite.JDBC</param-value>
    </context-param>
    <context-param>
        <description>The JDBC connection string.</description>
        <param-name>jdbcConnectionString</param-name>
        <param-value>jdbc:sqlite://~/blugoo.db</param-value>
    </context-param>
    <servlet>
        <servlet-name>coursecontroller</servlet-name>
        <servlet-class>GooGrade.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>coursecontroller</servlet-name>
        <url-pattern>/Course.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coursecontroller</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
</web-app>
