<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>GooGrade2.0</display-name>
    <distributable/>
    <context-param>
        <description>The JDBC driver class</description>
        <param-name>jdbcDriver</param-name>
        <param-value>org.sqlite.JDBC</param-value>
    </context-param>
    <context-param>
        <description>The JDBC connection string.</description>
        <param-name>jdbcConnectionString</param-name>
        <param-value>jdbc:sqlite://tmp/goograde.db</param-value>
    </context-param>
    <servlet>
        <servlet-name>teachercontroller</servlet-name>
        <servlet-class>goograde.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradecontroller</servlet-name>
        <servlet-class>goograde.GradeController</servlet-class>
    </servlet>
    <servlet>
        <description>The about page</description>
        <servlet-name>about</servlet-name>
        <jsp-file>/about.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>studentcontroller</servlet-name>
        <servlet-class>goograde.StudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rostercontroller</servlet-name>
        <servlet-class>goograde.RosterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountcontroller</servlet-name>
        <servlet-class>goograde.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountsettingscontroller</servlet-name>
        <servlet-class>goograde.AccountSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentassignmentcontroller</servlet-name>
        <servlet-class>goograde.StudentAssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coursecontroller</servlet-name>
        <servlet-class>goograde.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assignmentscontroller</servlet-name>
        <servlet-class>goograde.AssignmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcoursecontroller</servlet-name>
        <servlet-class>goograde.EditCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradingrulescontroller</servlet-name>
        <servlet-class>goograde.GradingRulesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>assignmentscontroller</servlet-name>
        <url-pattern>/teacher/assignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coursecontroller</servlet-name>
        <url-pattern>/teacher/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentcontroller</servlet-name>
        <url-pattern>/student/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rostercontroller</servlet-name>
        <url-pattern>/teacher/roster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcoursecontroller</servlet-name>
        <url-pattern>/teacher/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teachercontroller</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teachercontroller</servlet-name>
        <url-pattern>/teacher/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountcontroller</servlet-name>
        <url-pattern>/teacher/accounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradecontroller</servlet-name>
        <url-pattern>/student/grades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradecontroller</servlet-name>
        <url-pattern>/teacher/grades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountsettingscontroller</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentassignmentcontroller</servlet-name>
        <url-pattern>/student/assignments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coursecontroller</servlet-name>
        <url-pattern>/student/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradingrulescontroller</servlet-name>
        <url-pattern>/teacher/rules</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
