<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>GooGrade</display-name>
    <distributable/>
    <context-param>
        <description>The JDBC driver class</description>
        <param-name>jdbcDriver</param-name>
        <param-value>org.sqlite.JDBC</param-value>
    </context-param>
    <context-param>
        <description>The JDBC connection string.</description>
        <param-name>jdbcConnectionString</param-name>
        <param-value>jdbc:sqlite://tmp/goograde.db</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>teachercontroller</servlet-name>
        <servlet-class>GooGrade.TeacherController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet><description>The about page</description><servlet-name>about</servlet-name><jsp-file>/about.jsp</jsp-file></servlet><servlet-mapping>
        <servlet-name>teachercontroller</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>teachercontroller</servlet-name>
        <url-pattern>/teacher/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>coursecontroller</servlet-name>
        <servlet-class>GooGrade.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>coursecontroller</servlet-name>
        <url-pattern>/teacher/course/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>assignmentscontroller</servlet-name>
        <servlet-class>GooGrade.AssignmentController</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>assignmentscontroller</servlet-name>
        <url-pattern>/teacher/assignment/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
