/* 
    Document   : popups
    Created on : Apr 26, 2009, 10:44:19 PM
    Author     : pphu
    Description:
        Purpose of the stylesheet follows.
*/



body {
    background-color: #e5ecf3;
    font-family:  myraid, verdana, arial;
    font-size: 12pt;
}
